<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css.css') }}"/>
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
